.header {
    text-align: center;
    color: #fff;
    height: 64;
    padding-inline: 48;
    line-height: 64px;
    background-color: #5A6772;
  }
  
.content {
    display: flex;
    justify-content: center;      
    min-height: 1000px;    
    color: black;
    background-color: var(--primary-color);
  }
.footer {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
  }